*{margin: 0; padding: 0;}
body{
    overflow-x: hidden;
    position: relative;
    box-sizing: border-box;
    color: white;
    width: 100vw;
}
.firstSec{
    background-image: url("heroimg.jpg");
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    background-position: center ;
    /* background-size: cover; */
    width: 100vw;
    height: 75vh;
    position: relative;
    box-sizing: border-box;
}
.box{
    height: 75vh;
    width: 100vw;
    position: absolute;
    top: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 90%);;
}

.navbar{
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 1rem 1rem 0 1rem;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .logo{
        width: 100px;
    }
    .bttn{
        width: 85px;
        padding: 0;
        background-color: red;
    }
    .navbar{
        width: 100vw;
        margin: 0;
        padding: 24px;
    }
    .hero{
        width: 100vw;
    }
}

.hero{
height: 60vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
position: relative;
padding-top: 15px;
}
.bttn{
    background-color: red;
}
.herotext{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}
.text{
    margin: 10px 0 15px 0;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 300px;
}
.email{
    border-radius: 2px;
    height: 45px;
    width: 325px;
    font-size: 16px;
    padding: 6px;
    outline: none;
    border: none;
    color: white;
    background: transparent;
}
.email:focus{
    outline: 1px solid white;
}
.getstartbtn{
    width: 160px;
    height: 50px;
    margin-top: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    font-weight: 600;
    font-size: 17px;
    border: none;
}
.emailbtn{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
}
.second-sec{
    height: 70vh;
    width: 100vw;
    position: relative;
}
.second-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}
.sec-text-p{
    margin: 16px auto 0;
    width: 380px;
    font-size: 18px;
}
.tv{
    position: relative;
    height: 350px;
    width: 85%;
    margin: 10px auto 0;
}
.tv-img{
    position: relative;
    z-index: 1;
}
.tv-video{
    position: absolute;
    top: 25px;
    right: 0;
    bottom: 0;
    left: 0;
    scale: 0.7;
}
/* mobile sec*/

.mobile{
    height: 80vh;
    width: 100vw;
    background-color: black;
    padding: 25px 0 0 0;
}

.master{
    height: 60vh;
    width: 100vw;
    background-color: black;
    padding: 48px 0 48px 0;
}
.hr{
    height: 6px;
    background-color: rgb(95, 95, 95);
}
.watch-everywhere{
    width: 100%;
    height: 150px;
    background-color: black;
    padding: 10px 0 10px 0;
}